h1 {background-color: rebeccapurple;
    color:brown
}

body {
    background-color: aquamarine;
    text-align: right;
}

main {color:green}

.colorDelTitulo {
    color:aqua
}
.imagenPosicion {
    margin-right: 100%;
    text-align: left;
}
